//JUMBOTRON
.jumbotron-wrapper {
  padding: 0;
  .jumbotron {
    position: relative;
    color: #fff;
    background-color: #1274b9;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 528px;
    overflow: hidden;
    padding-top: 180px !important;
    padding-bottom: 115px !important;
    display: flex;
    align-items: center;

    &.dont-scale-bg {
      min-height: 400px;
      background-color: #fff;
      .jumbotron-heading {
        color: #008bc6 !important;
        text-transform: none;
      }
    }

    &.home-jumbotron {
      background-image: url(../../../img/hype-home.jpg);
      background-size: cover;
      height: 700px;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      // display: flex;
      // align-items: center;
      
      .section-title {
        margin-top: 80px;
        color: #fff;
      }
    }

    &.agency-jumbotron {
      background-image: url(../../../img/hero-images/hero-blog.jpg);
    }

    &.blog-jumbotron {
      background-image: url(../../../img/hero-images/hero-resources.jpg);
      background-size: auto;
      > .container {
        padding-top: 0 !important;
      }
    }

    &.blog-article-jumbotron {
      display: block;
      background-position: center center;
      background-color: transparent;
      padding: 0 !important;
      min-height: 428px;
      .container {
        padding-top: 0 !important;
      }
      .jumbotron-heading {
        font-size: 48px;
        line-height: 60px;
      }
    }

    &.marketing-jumbotron {
      // background-image: url(../../../img/hero-images/hero-service-design.jpg);
      padding: 0 !important;
    }
  
    .jumbotron-heading {
      padding-bottom: 40px;
      margin: 0;
    }
    .paragraph-big {
      margin: 0 0 40px 0;
      text-align: center;
    }

    .heading-descr {
      font-family: "adelle-sans", sans-serif;
      font-size: 22px;
      color: #000;
      opacity: 0.4;
      padding: 30px 16px;
    }
    .col-centered {
      padding-left: 0;
      padding-right: 0;
    }  
  }

  h1.jumbotron-heading {
    color: #fff;
    letter-spacing: -1px;
    text-align: center;
  }

  .jumbotron-home-video-wrapper {
    height: 700px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: auto;
  }

  .ellipse-divider-bottom {
    width: 100%;
    z-index: 10;
    position: absolute !important;
    left: 0;
    bottom: -7px;
    pointer-events: none;
  }
}

.colorOverlay {
  background: rgba(0,0,0,.5);
  display: block;
  height: 100%;
  padding-top: 130px;
  padding-bottom: 180px;
}

.blog-jumbotron-wrap {
  padding-top: 80px;
}

@media (max-width: 749px) {
  .jumbotron {
    min-height: 300px;
    .jumbotron-heading {
      padding-bottom: 0 !important;
    }
    &.home-jumbotron {
      height: 530px !important;
      .paragraph-big {
        margin: 40px 0;
      }
      .section-title {
        margin-top: 50px !important;
      }
    }
  }
}

// WHAT WE DO
.what-we-do-wrapper {
  background: #e8f7fe;
  position: relative;
  z-index: 11;

  #what-we-do {
    padding: 0;
    .text-box {
      margin-bottom: 15px;
    }
    .elements svg {
      width: auto;
    }

    .h4 {
      font-size: 26px;
    }
  }

  .what-we-do-item {
    height: 420px;
    padding: 20px;
    position: relative;
    display: block;
    -webkit-box-shadow: 0 15px 15px 0 rgba(0,0,0,0.1);
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.1);
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    text-align: center;

    .h4 {
      padding: 0 0 30px 0;
      color: #008bc6;
    }
  }

  .section-title {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

#what-we-do {
  margin-top: -160px;
}

// SUCCESS STORIES
.success-stories-wrapper {
  padding-bottom: 50px;
  background: url(../../../img/home/success-stories-bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;

  .section-title {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .work-item-content {
    background: #fff;
  }

  // Need only on desktop
  /* #success-stories {
    display: flex;
    flex-wrap: wrap;
    > .project {
      flex: 1 1 50%;
      padding-left: 15px;
      padding-right: 15px;
    }
  } */
}

.work-item {
  position: relative;
  display: block;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  overflow: hidden;
  &:hover, &:focus {
    outline: none;
  }

  &.small {
    .work-item-arrow {
      position: absolute;
      top: 0;
      bottom: auto;
      right: auto;
      left: 30px;
      width: 28px;
      height: 15px;
      margin-right: 0;
      margin-top: -14px;
      margin-left: 0;
      &::before {
        position: absolute;
        content: '';
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        border-width: 0 14px 15px 14px;
      }
    }
    .work-img-holder {
      .img-responsive {
        width: 100%;
      }
    }
  }

  &.big {
    .work-img-holder {
      overflow: hidden;
      > img {
        width: 100%;
      }
    }
    > [class^='col-'] {
      padding-left: 0;
      padding-right: 0;
      &.work-item-content {
        position: relative;
        padding: 25px 30px;
        background: #fff;
      }
    }
    .work-item-arrow {
      position: absolute;
      width: 15px;
      height: 28px;
      top: 30px;
      left: 0;
      margin-left: -14px;
      &::before {
        position: absolute;
        content: '';
        border-color: transparent #fff transparent transparent;
        border-width: 14px 15px 14px 0;
        border-style: solid;
      }
    }
    .work-details-wrap {
      > .work-detail-title {
        flex-basis: 40%;
      }
      > .work-details-list {
        flex-basis: 60%;
      }
    }
  }

  .work-item-content {
    position: relative;
    padding: 25px 30px;
    background: #fff;
  }

  .work-details-wrap {
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .work-detail-title {
    color: #999999;
    position: relative;
    display: block;
    // float: left;
    // width: 40%;
  }

  .work-details-list {
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #008bc6;
    // width: 60%;
    position: relative;
    display: block;
    // float: left;
    // width: 40%;
    > span {
      position: relative;
      display: block;
      padding: 0 0 0 12px;
      &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 6px;
        width: 7px;
        height: 7px;
        border-radius: 60px;
        background: #f6ec31;
      }
    }
  }

  .h4 {
    padding: 0 0 20px 0;
    color: #008bc6;
  }

  .paragraph-small {
    margin: 0 0 30px 0;
  }
}

.our-work-small {
  .btn-info {
  margin-top: 0;
  margin-bottom: 100px;
  }
}

@media (min-width: 1170px) {
  .work-item {
    &:hover {
      cursor: pointer;
    }
    &.big {
      margin-bottom: 45px;
    }
  }
}

// HAPPY CLIENTS
.happy-clients-wrapper {
  // padding-top: 0 !important;
  padding-bottom: 40px !important;
  .section-title {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .slick-list {
    .slick-slide {
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      .client {
        &::before {
          left: 0;
          content: '';
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          width: 1px;
          background: #cccccc;
          z-index: 10;
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          width: 1px;
          background: #cccccc;
          z-index: 10;
        }
      }
    }
  }
  &.blue-bg {
    padding-top: 0;
    background: #e8f7fe;
    padding-top: 50px;
  }
}

.testimonials {
  margin-bottom: 90px;
  .testimonial {
    position: relative;
    padding: 50px;
    background: #e8f7fe;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #008bc6;
  }
  .testimonial-icon {
    position: absolute;
    display: block;
    width: 58px;
    height: 45px;
    left: 50px;
    top: 0;
    margin: -25px 0 0 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .testimonial-arrow {
    position: absolute;
    width: 15px;
    height: 28px;
    top: 17px;
    right: 0;
    margin-right: -14px;
    &::before {
      position: absolute;
      content: '';
      border-color: transparent transparent transparent #e8f7fe;
      border-width: 14px 0px 14px 15px;
      border-style: solid;
    }
  }
  .testimonial-photo-wrap {
    padding-bottom: 10px;
  }
  .slick-slide {
    border: none !important;
    .testimonial-photo {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      display: inline-block;
    }
  }
  .testimonial-author {
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #008bc6;
  }
  .testimonial-title {
    color: #999999;
  }

}

.client {
  position: relative;
  display: block;
  cursor: pointer;
  &:hover {
    .client-hover {
      opacity: 100;
    }
  }

  .clients-img {
    width: 100%;
  }
  .client-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #008bc6;
    color: white;
    text-align: center;
    padding: 0 1em;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    h5 {
      margin: 18% 0 14% 0;
    }
    .client-info {
      display: block;
      overflow: hidden;
    }
  }
}

.carousel-caption {
  position: relative;
  padding-top: 30px;
  > .et_pb_text_inner {
    display: flex;
    justify-content: center;
  }
}

// FULLWIDTH CTA
.cta-free-copy-bg {
  border-top: 10px solid #83D5FA;
  // background: url(../../../img/purple-banner.jpg) no-repeat;
  background-size: cover;
  min-height: 375px;
  margin-bottom: 60px;
  display: flex;

  &.new-banner {
    border-top-color: #F7ED33;
    background-size: cover;
    background-image: url(../../../img/green-banner.jpg);
    background-repeat: no-repeat;
  }

  .et_pb_row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phones {
    position: absolute;
    max-width: 113%;
    right: 0;
    bottom: -182px;
  }

  .badge {
    padding: 9px 11px;
    background: #f6ed32;
    color: #333;
    border-radius: 0;
    letter-spacing: 0.8px;
  }

  .container {
    padding: 60px 25px 30px !important;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;

    .phones {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: none;
    }

    .free-copy-title {
      width: 50%;
    }
  }
}

.free-copy-title {
  font-size: 40px;
  font-family: "futura-pt", sans-serif;
  text-align: left;
  color: white;
  margin-bottom: 30px;
  font-weight: 700;
}

// LATEST BLOG POSTS
#resources {
  padding-top: 0;
  padding-bottom: 0;
  .et_pb_ajax_pagination_container {
    display: flex;
    flex-wrap: nowrap;
    > .post {
      flex: 1 1 33.333%;
      padding: 0 15px;
    }
  }
}

.resources-wrapper {
  padding-bottom: 60px;

  a {
    color: inherit;
    text-decoration: none;
  }

  &.latest-blog-posts {
    .section-title {
      padding: 0 0 50px;
    }
  }

  .section-title {
    padding: 10px 0 50px;
  }

  .resource-article {
    position: relative;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 30px;
    padding-bottom: 10px;
    overflow: hidden;
    .call-to-view {
      background: #83d5f8;
      height: 10px;
      transition: all 0.3s ease-out;
    }
    &.yellow-bordered {
      .resource-title {
        overflow: hidden;
        padding: 0 !important;
        margin: 10px 0 20px 0;
      }
    }
  }

  .resource-content-wrap {
    position: relative;
    display: block;
    background: #fff;
    padding-bottom: 0;
    transition: all 0.3s ease-out;
    &::before,
    &::after {
      content: " ";
      display: table;
    }
  }

  .badges {
    color: #333333;
    position: relative;
    padding: 0 0 0 20px;
    margin: -15px 0 10px 0;
    overflow: hidden;
    li {
      list-style-type: none;
      float: left;
      margin-right: 5px;
      font-family: "futura-pt", sans-serif;
      font-weight: 700;
      font-size: 14px;
      padding: 5px 10px;
    }
  }

  .yellow-tag-type {
    .resource-badge,
    .call-to-view {
      background-color: #e80a89;
      color: #fff;
    }

    .btn-more {
      margin: 10px 0;
      float: none;
      width: 100%;
    }

    .resource-content {
      padding-bottom: 10px;
      width: 100%;
      float: left;
      .resource-title {
        font-family: "futura-pt", sans-serif;
        font-weight: 700;
        color: #008bc6;
        padding: 20px 0 20px;
      }
    }
  }

  .blue-tag-type {
    .resource-badge {
      background-color: #83d5f8;
    }
    .resource-content {
      padding-bottom: 10px;
      .resource-title {
        font-family: "futura-pt", sans-serif;
        font-weight: 700;
        color: #008bc6;
        padding: 20px 0 20px;
      }
      .resource-text {
        color: #666666;
        font-family: "adelle-sans", sans-serif;
      }
    }
  }

  .resource-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.latest-blog-posts a {
  color: #008bc6;
}

.author-info {
  width: 100%;
  display: inline-block;
  .profile-pic {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 40px;
    margin-top: 29px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
  }
  .author-name {
    color: #83d5f8;
    font-family: "adelle-sans", sans-serif;
    padding: 35px 5px;
  }
  .reads-count {
    font-family: "adelle-sans", sans-serif;
    color: #bbb;
    padding: 35px 0 35px 30px;
  }
}

@media (min-width: 1170px) {
  .resources-wrapper {
    &.services-pages {
      padding-bottom: 30px !important;
      .section-title {
        padding-bottom: 100px;
      }
    }
  }
}

@media (min-width: 750px) {
  .resources-wrapper {
    .resource-article {
      &.yellow-bordered {
        .resource-title {
          height: 54px;
        }
      }
    }
  }
}

// EXPERTISE
.expertise-item {
  .resource-article {
    padding-bottom: 0;
  }
}

// Our Culture
.makes-hype-better {
  color: #fff;
  margin-bottom: 90px;
  padding-top: 45px;
  padding-bottom: 0;
  min-height: 497px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  .section-title {
    margin-bottom: 90px;
    color: #fff;
  }
  .thumbnail {
    min-height: 280px;
    padding: 0 30px 40px 30px;
  }
  .h4 {
    overflow: hidden;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    font-size: 30px;
  }
  .paragraph-smallest {
    color: #fff;
  }
}

.images-text-grid {
  padding-top: 50px;
  padding-bottom: 0;
  .img-responsive {
    width: 100%;
  }
  .h5 {
    color: #008bc6;
  }
}

@media (min-width: 1170px) {
  .makes-hype-better {
      padding-top: 95px !important;
  }
  .images-text-grid {
    padding-top: 100px !important;
    padding-bottom: 70px !important;
    .h5 {
      padding-top: 90px;
    }
  }
}

// KEY PEOPLE
.resources-wrapper {
  &.key-people {
    // padding-bottom: 100px;
    padding-bottom: 0;
    .section-title {
      padding-bottom: 50px;
    }
  }
}

.key-people-item {
  .resource-article {
    padding-bottom: 0;
    margin-top: 50px;
    margin-bottom: 0;
    overflow: visible;
    text-align: center;
    .resource-title {
      padding: 20px 0 5px 0 !important;
    }
    .resource-text {
      color: #999999 !important;
    }
    .member-social-wrap {
      padding-bottom: 15px;
    }
    .call-to-view {
      background: #83d5f8;
      height: 10px;
      transition: all 0.3s ease-out;
    }
  }
  .member-avatar-wrap {
    margin-top: -50px;
  }
  .member-avatar {
    display: inline-block;
    width: 100px;
    height: 100px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1170px) {
  .key-people-item {
    .resource-article {
      margin-bottom: 30px;
      transition: none;
      .call-to-view {
        transition: none;
      }
      &:hover {
        margin-top: 50px;
        .call-to-view {
          background: #83d5f8 !important;
          height: 10px !important;
        }
        .resource-content-wrap {
          padding-bottom: 0px !important;
          margin-top: 0px !important;
        }
      }
    }
    .resource-content-wrap {
      transition: none;
    }
  }
}

// GDD BANNER
.gdd-banner {
  a {
  margin-bottom: 100px;
  padding: 45px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff4e9;
  font-family: "futura-pt", sans-serif;
  color: #f7740a;
  font-size: 24px;
  text-transform: uppercase;
    strong {
    padding-left: 15px;
    font-weight: 700;
    display: inline-block;
    line-height: 20px;
    position: relative;
    top: 3px;
    margin-bottom: 12px;
    }
    span {
      padding-left: 15px;
      font-weight: 400;
      display: inline-block;
      line-height: 20px;
      position: relative;
      top: -3px;
    }
  }
}

// SERVICES
.marketing-jumbotron {
  .et_pb_fullwidth_header_scroll {
    max-width: 1154px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9999;
    a {
      float: right;
      margin-bottom: 20px;
      margin-right: 15px;
      display: inline-block;
      > span {
        animation: bounce 2s infinite;
      }
    }
  }
}

.centered-paragraph-wrap {
  float: none;
  margin: 0 auto;
  .heading {
    margin-bottom: 40px;
    color: #008bc6;
    letter-spacing: -1px;
  }
  .sub-heading {
    margin-bottom: 20px;
    color: #008bc6;
    font-weight: 600;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    text-transform: uppercase;
  }
  .paragraph-small {
    color: #666666;
    font-size: 16px;
    line-height: 24px;
  }
  .btn-info {
    padding-right: 0;
    padding-left: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #008bc6;
    font-size: 16px;
    text-transform: inherit;
  }
}

.centered-paragraph-box {
  width: 555px;
  position: relative;
  padding: 40px 50px;
  margin-top: -320px;
  min-height: 10%;
  background: #fff;
  z-index: 10;
  color: #666666;
  border-bottom: 10px solid #FCED1C;
  -webkit-box-shadow: 0 15px 15px 0 rgba(0,0,0,0.1);
  box-shadow: 0 15px 15px 0 rgba(0,0,0,0.1);
}

/* B2B SPECIFIC */
.content-marketing-benefits {
  padding-top: 60px;
  padding-bottom: 40px;
  .section-title {
    margin-bottom: 50px;
  }
}

.banners {
  margin-bottom: 100px;
  box-shadow: 0 15px 15px 0 rgba(0,0,0,0.1);
  .information {
    min-height: 400px;
    padding: 5px 30px 15px 30px;
    background: #075677;
    h2 {
      color: #fff;
      font-size: 36px;
      padding-bottom: 10px;
      text-transform: capitalize;
    }
    .paragraph-small {
      font-size: 14px;
      color: #fff;
    }
    img {
      max-width: 100%;
      margin-top: 50px;
    }
  }
  .description {
    padding: 30px;
    background: #eaf9f1;
    h5 {
      padding-bottom: 20px;
      font-size: 16px;
      color: #48d999;
      text-transform: uppercase;
    }
    ul {
      padding: 0;
      list-style-type: none;
    }
    li {
      padding: 13px 0 13px 40px;
      color: #2d9e6d;
      font-size: 18px;
      line-height: 21px;
      font-family: "futura-pt", sans-serif;
      font-weight: 700;
      background: url(../../../img/website-design/ticks.png) left top 8px no-repeat;
    }
    .btn-more {
      margin: 25px 0 15px 0;
      background: #008bc6;
      color: #fff;
      border-color: #008bc6;
      .down-arrow {
        transform: rotate(-90deg);
      }
    }
  }
}

.image-plus-paragraph {
  .thumbnail {
    min-height: 385px;
    padding: 0 30px 50px 30px;
  }
  .thumbnail-img {
    min-height: 120px;
  }
  .h4 {
    color: #008bc6;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-size: 30px;
  }
}

/* AGILE PROCESS */
.agile-process {
  padding-top: 50px;
  margin-bottom: 50px;
  background: #e8f7fe;
  .section-title {
    margin-bottom: 45px;
  }
  .paragraph-small {
    margin-bottom: 45px;
  }
  .thumbnail {
    min-height: 310px;
  }
  .h4 {
    padding-bottom: 20px;
    font-size: 24px;
  }
  .thumbnail-img {
    min-height: 150px;
  }
}

.rounded-number {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 60px;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  background: #008bc6;
}

/* PAY PER CLICK */
.pay-per-click-page {
  .banners {
    .information {
      min-height: 185px;
    }
    .description {
      ul {
        margin: 0;
      }
      li {
        margin-right: 20px;
      }
    }
  }
}

/* SCHEME PROCESS */
.scheme-process {
  text-align: center;
  .thumbnail {
    min-height: auto;
  }
  .h4 {
    font-size: 30px;
  }
  .scheme-pic {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .d-flex {
    h4 {
      font-size: 18px;
    }
  }
}

.scheme-3 {
  .et_pb_code_inner {
    margin-top: 80px;
    display: flex;
    align-items: center;
  }
  .h4 {
    font-size: 30px;
  }
}

/* WHAT WE OFFER */
.what-we-offer {
  padding-bottom: 100px !important;
  .section-title, .paragraph-small {
    margin: 0 0 100px 0;
  }
  .thumbnail {
    position: relative;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 25px 0;
  }
  .caption-label {
    display: block;
    font-size: 14px;
    line-height: 30px;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: #83d5f8;
    color: #333333;
  }
  .h5 {
    padding: 25px 0;
    text-align: center;
    color: #fff;
    background: #008bc6;
    font-size: 24px;
  }
  .caption {
    padding: 30px;
    > .paragraph-smallest {
      margin-bottom: 25px;
    }
  }
  .caption-list-title {
    position: relative;
    display: block;
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #008bc6;
    padding: 0 0 10px 20px;
    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 6px;
      width: 8px;
      height: 8px;
      border-radius: 60px;
      background: #008bc6;
    }
  }
  .caption-list-wrap {
    .paragraph-smallest {
      padding: 0 0 0 20px;
    }
  }
}

.single-offer {
  &:first-child {
    .thumbnail {
      background: #e8f7fe;
      .caption-label {
        background: #f6ed32;
      }
    }
  }
}

.css-plus {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #f6ec31;
  top: 0;
  left: 50%;
  margin: -45px 0 0 -30px;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    bottom: auto;
    left: 10px;
    right: 10px;
    height: 2px;
    margin: -1px 0 0 0;
    background: #008bc6;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    bottom: 10px;
    left: 50%;
    right: auto;
    width: 2px;
    margin: 0 0 0 -1px;
    background: #008bc6;
  }
}

@media (min-width: 1170px) {
  .content-marketing-benefits {
    padding-top: 100px !important;
    .section-title {
      margin-bottom: 95px;
    }
  }
  .agile-process {
    padding-top: 100px !important;
    padding-bottom: 50px !important;
    margin-bottom: 100px;
    .process-separator {
      margin-bottom: 60px;
    }
  }
  .what-we-offer {
    .thumbnail {
      min-height: 490px;
      margin: 0;
    }
    .caption {
      height: 390px;
    }
  }
  .css-plus {
    left: 0;
    top: 50%;
    margin: -30px 0 0 -30px;
  }
}

@media (min-width: 750px) {
  .agile-process {
    .process-separator {
      margin-bottom: 45px;
    }
  }
}

@media (min-width: 320px) {
  .content-marketing-benefits {
    padding-bottom: 0 !important;
  }
}


// RESOURCES
body.page-resources {
  .resources-wrapper {
    .et_pb_ajax_pagination_container {
      display: flex;
      flex-wrap: wrap;
      > article.et_pb_post {
        padding: 0 15px;
        flex: 0 1 33.333%;
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 1170px) {
  body.page-resources {
    .resources-wrapper {
      .et_pb_ajax_pagination_container {
        > article.et_pb_post {
          flex: 0 1 50%;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  body.page-resources {
    .resources-wrapper {
      .et_pb_ajax_pagination_container {
        > article.et_pb_post {
          flex: 0 1 100%;
        }
      }
    }
  }
}


// CASE STUDIES
body.page-case-studies {
  .our-work-small {
    .et_pb_ajax_pagination_container {
      display: flex;
      flex-wrap: wrap;
      > .project {
        padding: 0 15px;
        flex: 0 1 50%;
        margin-bottom: 0;
      }
      .pagination {
        flex: 1 1 100%;
        padding: 0 15px;
        .btn-more {
          margin: 0 0 35px 0;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  body.page-case-studies {
    .our-work-small {
      .et_pb_ajax_pagination_container {
        > .project {
          flex: 0 1 100%;
        }
      }
    }
  }
}

.home-case-studies {
  .home-case-studies {
    margin-bottom: 15px;
    > div {
      display: flex;
      flex-wrap: wrap;
      > div {
        flex: 1 1 50%;
        padding: 0 15px;
      }
    }
  }
}

// BLOG
body.blog,
body.category,
body.single-post {
  .contact-full-width-wrap {
    display: none;
  }
  #main-footer {
    padding: 90px 0;
  }
}

body.single-post {
  .post-content {
    margin-top: -100px;
  }

  footer#main-footer {
    clear: both;
  }

  .latest-blog-posts {
    > .container {
      padding-top: 0 !important;
    }
  }
}

.frame {
  background-color: #fff;
  // height: 50px;
  position: relative;
  bottom: 85px;
  padding-top: 50px;
  margin-bottom: 0;
  .author-info {
    margin-top: 60px;
    &.up {
      display: flex;
      align-items: center;
      img {
        margin-top: 0;
      }
    }
    &:not(.up) {
      display: block;
      background-color: #e8f7fe;
      padding: 20px 25px;
      .section-title {
        color: #666 !important;
      }
      .profile-pic {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin: 30px 0;
        position: absolute;
      }
      .profile-info {
        overflow: hidden;
        margin: 0 30px;
      }
      .author-name {
        font-size: 20px;
        font-family: "futura-pt", sans-serif;
        font-weight: 700;
        color: #008bc6;
        padding: 20px 0 10px;
      }
      .author-descr {
        font-family: "adelle-sans", sans-serif;
        color: #666666;
        padding-bottom: 15px;
      }
    }
  }
}

.post-content {
  padding: 0 50px;
  margin-top: -40px;
  img {
    max-width: 100%;
  }
  p {
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #666666;
    font-size: 16px;
  }
  ul {
    li {
      color: #666666;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  a {
    color: #008bc6;
    text-decoration: underline;
  }
  h3, h4 {
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    color: #008bc6;
    padding: 40px 0 40px;
  }
  h3 {
    font-size: 40px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-family: "futura-pt", sans-serif;
    color: #999999;
    font-weight: 700;
    padding: 0 0 30px;
    font-size: 24px;
  }
}

.post-sidebar {
  position: sticky;
  top: 100px;
  padding-bottom: 360px;
  .post-categories {
    padding: 0 0 50px 0;
  }
  .section-title {
    margin: 0 0 20px;
  }
  .nav-list {
    list-style-type: none;
    padding-left: 0;
    li {
      padding-bottom: 5px;
      font-family: "adelle-sans", sans-serif;
      font-size: 16px;
      color: #008bc6;
      text-decoration: underline;
    }
    a {
      color: inherit;
      text-decoration: none;
      transition: color 0.3s ease-out;
    }
  }
  .latest-posts {
    padding: 0;
  }
}

.latest-posts {
  ul {
    li {
      font-size: 20px !important;
      line-height: 25px !important;
      font-family: "futura-pt", sans-serif !important;
      border-bottom: 5px solid #83d5f8 !important;
      margin-bottom: 15px !important;
      text-decoration: none !important;
      padding-bottom: 15px !important;
      padding-top: 20px !important;
      font-weight: 700;
    }
  }
}

.blog-post {
  margin-bottom: 30px !important;
  padding: 0 15px;
}

.blog-section {
  .blog-post {
    .resource-article {
      padding: initial;
      margin-bottom: 0;
      .call-to-view {
        overflow: hidden;
        .svg-icon {
          top: -3px;
        }
      }
    }
    .resource-content-wrap {
      padding: 0 30px 0 15px;
    }
    .resource-content {
      padding-bottom: 5px;
      .resource-title {
        padding: 30px 0 30px;
        font-size: 30px;
      }
      .resource-text {
        padding-bottom: 10px;
      }
    }

    &.small {
      .resource-article {
        margin-top: 120px;
        overflow: visible;
        transition: margin-top 0.3s ease-out;
        .resource-content {
          transition: padding-bottom 0.3s ease-out;
        }
      }
      .badges {
        padding-left: 35px;
      }
      .resource-content-wrap {
        overflow: hidden;
      }
    }
  }

  .blog-sidebar {
    position: sticky;
    top: 100px;
    margin-bottom: 145px;
  }

  .sidebar {
    background-color: #e8f7fe;
    padding: 30px 16px;
    margin-bottom: 50px;
    border-right: none;
    .widget_categories {
      padding: 0 15px;
      h4 {
        padding: 10px 0 15px;
        text-align: left;
        font-family: "futura-pt", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        margin: 0;
        color: #666;
        line-height: 1.1;
      }
      ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 40px;
        margin-top: 0;
        li {
          padding-bottom: 10px;
          font-family: "adelle-sans", sans-serif;
          font-size: 16px;
          color: #008bc6;
          text-decoration: underline;
          a {
            transition: color 0.3s ease-out;
            color: inherit;
            &:hover {
              color: #333333;
            }
          }
        }
      }
    }
    .widget_mc4wp_form_widget {
      padding: 0 15px;
      h4 {
        padding: 10px 0 15px;
        text-align: left;
        font-family: "futura-pt", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        margin: 0;
        color: #666;
        line-height: 1.1;
      }
      .paragraph-small {
        font-size: 14px;
        line-height: normal;
        color: #666666;
        margin-bottom: 40px;
      }
      .form-group {
        position: relative;
        margin-bottom: 15px;
        font-family: "adelle-sans", sans-serif;
        .custom-email-control {
          color: #008bc6;
          font-family: "adelle-sans", sans-serif;
          font-size: 18px;
          background: none;
          border: none;
          border-bottom: 3px solid #008bc6;
          padding: 5px 40px 5px 10px;
          width: 100%;
          font-weight: 500;
          opacity: 0.5;
          &:focus {
            border-bottom-color: #008bc6;
            color: #008bc6;
            outline: none;
            opacity: 1;
            ~ label {
              transform: translate3d(-10px, -28px, 0) scale(0.75);
            }
          }
        }
        label {
          position: absolute;
          top: 0;
          left: 20px;
          transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
          opacity: 0.5;
          color: #008bc6;
          font-size: 18px;
          font-family: "adelle-sans", sans-serif;
          font-weight: normal;
        }
      }
    }
  }

  #postHolder {
    .pagination {
      padding: 0 12px;
      a {
        color: #008bc6;
      }
    }
  }
}

@media (min-width: 1170px) {
  .blog-section {
    .blog-post {
      &.small {
        .resource-article {
          &:hover {
            margin-top: 70px;
            .resource-content-wrap {
              padding-bottom: 0;
              margin-top: 0;
            }
            .resource-content {
              padding-bottom: 45px;
            }
          }
        }
      }
    }
    .sidebar {
      margin-bottom: 0;
    }
    .blue-button {
      display: block;
      width: 100%;
    }
  }
}

// CONTACTS
body.page-contacts {
  .contact-full-width-wrap {
    display: none;
  }
  #main-footer {
    padding: 90px 0;
  }
}

#map-section {
  max-height: none !important;
  padding-bottom: 100px;
  #what-we-do {
    margin-top: 0;
  }
  .what-we-do-item {
    height: 310px;
    padding: 0;
    &:hover {
      height: 340px;
      margin-top: 10px;
      .img-responsive {
        bottom: 30px;
      }
      .marker-map {
        bottom: 65px;
      }
    }
  }
  .img-responsive {
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease-out;
  }
  .marker-map {
    position: absolute;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
    transition: all 0.3s ease-out;
  }
  .work-item-contents {
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    h2 {
      text-align: left;
      color: #008bc6;
      text-transform: capitalize;
      font-size: 30px;
    }
    p {
      text-align: left;
      color: #999;
      font-size: 16px;
    }
  }
}

.contacts-section {
  .contact-form-wrapper {
    margin: 0 auto 100px auto;
    .wpcf7-form-control-wrap {
      display: block;
    }
    .form-group {
      position: relative;
      margin-bottom: 15px;
      font-family: "adelle-sans", sans-serif;
    }
    .custom-control {
      font-size: 18px;
      background: none;
      border: none;
      border-bottom: 3px solid #008bc6;
      padding: 0px 40px 5px 10px;
      width: 100%;
      font-weight: 500;
      opacity: 0.5;
      margin: 5px 0 30px;
      &:focus {
        border-bottom-color: #008bc6;
        color: #008bc6;
        outline: none;
        opacity: 1;
      }
      &.wpcf7-not-valid {
        border-bottom: 3px solid #fa0a50;
      }
    }
    .has-value {
      transform: translate3d(-10px, -28px, 0) scale(0.75);
    }
    textarea {
      &.custom-control {
        height: 33px;
        overflow: hidden;
        resize: none;
      }
      + .wpcf7-not-valid-tip {
        bottom: 8px;
      }
    }
    label {
      position: absolute;
      top: 0;
      left: 10px;
      transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
    }
    input,
    label {
      opacity: 0.5;
      color: #008bc6;
      font-size: 18px;
      font-family: "adelle-sans", sans-serif;
      font-weight: normal;
    }
    .btn {
      margin-top: 20px;
      padding: 15px;
      font-size: 18px;
      color: #4b4b4b;
      opacity: 1;
      font-weight: 700;
    }
    .optional-label {
      position: absolute;
      display: block;
      top: 5px;
      right: 11px;
      color: #008bc6;
      opacity: 0.5;
      font-family: "adelle-sans", sans-serif;
      font-weight: normal;
      font-size: 14px;
      transition: opacity 0.3s ease-out;
    }
    // VALIDATIONS
    .wpcf7-not-valid-tip {
      position: absolute;
      top: 45px;
      right: 0;
      font-size: 12px;
      font-weight: 500;
      color: #fa0a50;
      &::before {
        content: url('../../../img/icons/error-icon.png');
        position: relative;
        left: -3px;
        top: 1px;
      }
    }
    .wpcf7-response-output {
      text-align: center;
      &.wpcf7-mail-sent-ok {
        font-family: "adelle-sans", sans-serif;
        font-size: 16px;
        color: #2cbb9f;
        font-weight: 500;
        line-height: 24px;
        margin: 35px 0 10px 0;
        border: none;
        &::before {
          content: url('../../../img/icons/register-success-big.png');
          position: relative;
          display: block;
          width: 100%;
          height: auto;
          text-align: center;
          margin-bottom: 18px;
        }
      }
      &.wpcf7-validation-errors {
        display: none !important;
        color: #fa0a50;
        border: none;
      }
    }

    .ajax-loader {
      display: none !important;
    }
  }
  #contact-us {
    &.sent {
      .form-group {
        display: none;
      }
    }
  }
}

@media (min-width: 1170px) {
  .what-we-do-wrapper {
    .section-title {
      padding-top: 100px;
      padding-bottom: 60px;
    }
    .what-we-do-item {
      transition: all 0.3s ease-out;
      margin-bottom: 20px;
      margin-top: 40px;
    }
  }
}

// SINGLE PROJECT
// JUMBOTRON PROJECTS
.hero-carousel-wrap {
  position: relative;
  // padding-bottom: 50px !important;
  .carousel-hero-wrap {
    min-height: 700px;
    padding: 50px 0 !important;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .section-title {
    padding: 135px 0 0 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
  .h2 {
    margin-top: 40px;
    text-align: center;
    color: #fff;
    text-transform: none;
    font-size: 48px;
  }
  .devices-wrap {
    margin-top: -100px;
  }
}

// @media (min-width: 1170px) {
//   .hero-carousel-wrap {
//       padding-bottom: 100px !important;
//   }
// }


// ALL SECTIONS
.project-anchor-section {
  [class^="col-"] {
    padding-bottom: 0px !important;
  }
  .h5 {
    color: #999999;
    font-size: 24px;
  }
  .paragraph-small {
    color: #666666;
  }
}

// FACTS
.facts {
  padding-top: 50px;
}

@media (min-width: 1170px) {
  .facts {
    padding-top: 100px !important;
  }
}

// HERO IMAGES PROJECTS
.hero-img-wrap {
  margin-top: 100px;
}

@media (min-width: 750px) {
  .hero-img-wrap {
    min-height: 350px;
  }
}

@media (min-width: 1170px) {
  .hero-img-wrap {
    min-height: 500px;
  }
}

body.single-project {
  .our-work-small {
    padding-bottom: 50px;
    background: #eaeaea;
    .section-title {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .contact-full-width-wrap {
    background: #eaeaea;
  }
}

@media (min-width: 1170px) {
  body.single-project {
    .our-work-small .section-title {
        padding-top: 100px;
        padding-bottom: 100px;
    }
  }
}